<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill" style="background-image:url('{{ asset("images/cepas_inv.jpg") }}');"></div>
            <div class="carousel-caption">
              <div class="row hidden-xs" style="padding-bottom: 4em">
                <div class="col-sm-6 text-center">
                  <img src="{{ asset('images/logo_mobile_exp.png') }}" alt="{{ appname }}">
                </div>
                <div class="col-sm-6">
                  <h1>{{ 'Blog specialized in wine culture'|trans }}</h1>
                  <h3>{{ 'Are you interested?'|trans }}</h3>
                  <a class="btn btn-lg btn-primary" href="{{ path('rov_users_register') }}">{{ 'Sign up now'|trans }}</a>
                </div>
              </div>
              <div class="row visible-xs">
               <div class="col-xs-12">
                  <h2>{{ 'Blog specialized in wine culture'|trans }}</h2>
                  <h4>{{ 'Are you interested?'|trans }}</h4>
                  <a class="btn btn-primary" href="{{ path('rov_users_register') }}">{{ 'Sign up now'|trans }}</a><br>&nbsp;
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('{{ asset("images/botellas.jpg") }}');"></div>
            <div class="carousel-caption">
              <div class="row hidden-xs" style="padding-bottom: 4em">
                <div class="col-sm-6 text-center">
                  <img src="{{ asset('images/logo_mobile_exp.png') }}" alt="{{ appname }}">
                </div>
                <div class="col-sm-6">
                  <h1>{{ 'Read the last articles'|trans }}</h1>
                  <h3>{{ 'What are you waiting for?'|trans }}</h3>
                  <a class="btn btn-lg btn-primary" href="{{ path('rov_blog_homepage') }}">{{ 'Last articles'|trans }}</a>
                </div>
              </div>
              <div class="row visible-xs">
               <div class="col-xs-12">
                  <h2>{{ 'Read the last articles'|trans }}</h2>
                  <h4>{{ 'What are you waiting for?'|trans }}</h4>
                  <a class="btn btn-primary" href="{{ path('rov_blog_homepage') }}">{{ 'Last articles'|trans }}</a><br>&nbsp;
                </div>
              </div>
          </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
