<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill" style="background-image:url('{{ asset("images/parra.jpg") }}');"></div>
            <div class="carousel-caption">
              <div class="row" style="padding-bottom: 2em">
                <div class="col-sm-6" style="text-align: center">
                  <img src="{{ asset('images/logo_mobile_exp.png') }}" alt="{{ appname }}">
                </div>
                <div class="col-sm-6">
                  <h1>Blog especializado en la cultura del vino</h1>
                  <h3>{{ 'Are you interested?'|trans }}</h3>
                  <a class="btn btn-lg btn-primary" href="{{ path('rov_users_register') }}">{{ 'Sign up now'|trans }}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1920x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
              <h1>Ready to Style &amp; Add Content</h1>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1920x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
              <h1>Additional Layout Options at <a href="http://startbootstrap.com">http://startbootstrap.com</a></h1>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
