<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('bundles/rovstart/images/wine-glass.png') }}" alt="{{ 'About wine and other things'|trans }}" style="padding: 0; margin: -15px 0 -10px; height: 35px">{{ 'About wine and other things'|trans }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="about.html">{{ 'About me'|trans }}</a></li>
                <li><a href="{{ path('rov_blog_homepage') }}">Blog</a></li>
                <li><a href="{{ path('rov_start_contact') }}">{{ 'Contact'|trans }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if app.user %}<i class="icon-user icon-white"></i> {{ app.user.name|e }} {% else %} <i class="icon-lock icon-white"></i> {{ 'Sign in'|trans }} {% endif %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if app.user %}
                        <li class="dropdown-header">{{ 'Hello'|trans }} {{ app.user.name }}</li>
                        <li><a href="{{ path('rov_users_homepage') }}">{{ 'Profile'|trans }}</a></li>
                        <li><a href="{{ path('rov_users_logout') }}">{{ 'Sign out'|trans }}</a></li>
                        {% else %}
                        <li class="dropdown-header">{{ 'Please sign in'|trans }}</li>
                        {% if error %}
                        <li style="margin:0px 12px"><div class="alert alert-danger">{{ error.message|trans }}</div></li>
                        {% endif %}
                        <li>
                            <div style="padding:0px 12px">
                                <form role="form" action="{{ path('rov_users_login_check') }}" method="post">
                                    <div class="form-group">
                                        <input class="form-control" id="username" name="_username" type="text" placeholder="{{ 'Email'|trans }}" value="{{ last_username | default('') }}">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" id="password" name="_password" type="password" placeholder="{{ 'Password'|trans }}">
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="remember_me" name="_remember_me"> {{ 'Remember me'|trans }}
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">{{ 'Sign in'|trans }}</button>
                                    {######### Target route after login #########}
                                    {% if page is defined and page != 'home' %}
                                        <input type="hidden" name="_target_path" value="{{ path(app.request.attributes.get('_route'), { '_locale': app.request.locale, 'page': page }) }}" />
                                    {% else %}
                                        <input type="hidden" name="_target_path" value="{{ path(app.request.attributes.get('_route'), { '_locale': app.request.locale }) }}" />
                                    {% endif %}             
                                </form>
                            </div>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li class="dropdown-header">{{ 'Not a user yet?'|trans }}</li>
                        <li><a href="{{ path('rov_users_register')}}">{{ 'Sign up now'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Administration'|trans }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="portfolio-1-col.html">Escribir en el blog</a></li>
                        <li><a href="portfolio-2-col.html">Ver usuarios registrados</a></li>
                    </ul>
                </li>
                {% endif %}
                {######## Target route on change language ########}
                {% if page is defined and page != 'home' and page != 'contact' %}
                
                    {% if locale == 'es' %}
                    <li><a href="{{ path(app.request.attributes.get('_route'), { '_locale': 'en', 'page': page }) }}"><img src="{{ asset('bundles/rovstart/images/uk.png') }}" alt="English"></a></li>
                    <li class="active"><a href="#"><img src="{{ asset('bundles/rovstart/images/spain.png') }}" alt="Spanish"></a></li>
                    {% elseif locale == 'en' %}
                    <li class="active"><a href="#"><img src="{{ asset('bundles/rovstart/images/uk.png') }}" alt="English"></a></li>
                    <li><a href="{{ path(app.request.attributes.get('_route'), { '_locale': 'es', 'page': page }) }}"><img src="{{ asset('bundles/rovstart/images/spain.png') }}" alt="Spanish"></a></li>
                    {% endif %}
                    
                {% else %}
                    
                    {% if locale == 'es' %}
                    <li><a href="{{ path(app.request.attributes.get('_route'), { '_locale': 'en' }) }}"><img src="{{ asset('bundles/rovstart/images/uk.png') }}" alt="English"></a></li>
                    <li class="active"><a href="#"><img src="{{ asset('bundles/rovstart/images/spain.png') }}" alt="Spanish"></a></li>
                    {% elseif locale == 'en' %}
                    <li class="active"><a href="#"><img src="{{ asset('bundles/rovstart/images/uk.png') }}" alt="English"></a></li>
                    <li><a href="{{ path(app.request.attributes.get('_route'), { '_locale': 'es' }) }}"><img src="{{ asset('bundles/rovstart/images/spain.png') }}" alt="Spanish"></a></li>
                    {% endif %}

                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>