{% extends '::frontend_bootstrap.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
	{{ parent() }}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Blog <small>{{ 'Articles list'|trans }}</small></h1>
				<ol class="breadcrumb">
					<li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
					<li><a href="{{ path('rov_blog_homepage') }}">{{ 'Articles list'|trans }}</a></li>
					<li>{{ 'Article'|trans }}</li>
					<li class="active">{{ article.title }}</li>
				</ol>
			</div>
		</div>

		<div class="row">

			<div class="col-lg-8">
				{# Flashbag session success messages #}
				{% for message in app.session.flashbag.get('error') %}
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>ERROR:</strong> {{ message|trans }}
				</div>
				{% endfor %}
				{% for message in app.session.flashbag.get('success') %}
				<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{ message|trans }}
				</div>
				{% endfor %}

				{# Show the article #}
				<h1>{{ article.title }}</h1>
				<hr>
				{# {{ article.updated|localizeddate('full', 'medium', locale, "Europe/Madrid") }} #}
				<p><strong><i class="fa fa-clock-o"></i> {{ 'Last updated'|trans }}:</strong> {{ article.updated|date('d/m/Y H:i:s') }}</p>
				<hr>
				<div class="img_blog" style="background-image:url('{{ article.image }}');"></div>
				<hr>
				<p class="lead">{{ article.subtitle }}</p>
				<p class="text-justify article">{{ article.content|raw }}</p>

				<a class="btn btn-primary btn-xs" href="#" disabled>{{ 'Category'|trans }} <i class="fa fa-arrow-circle-right"></i></a>
				<a class="btn btn-primary btn-xs" href="{{ path('rov_blog_article_category', { 'slug': article.category.slug }) }}" title="{{ 'Click to see all the articles from this category'|trans }}">{{ article.category.name|trans }}</a>
				<br><br>

				<a class="btn btn-info btn-xs" href="#" disabled>{{ 'Tags'|trans }} <i class="fa fa-arrow-circle-right"></i></a>
				{% for tag in article.tags %}
				<a class="btn btn-info btn-xs" href="{{ path('rov_blog_article_tag', { 'slug': tag.slug }) }}" title="{{ 'Click to see all the articles with this tag'|trans }}">{{ tag.name|trans }}</a>
				{% endfor %}
				<hr>

				{% if moderator %}
				<a class="btn btn-default btn-block" href="{{ path('rov_blog_edit_article', { 'article_id': article.id })}}"><i class="fa fa-pencil-square-o"></i> {{ 'Edit article'|trans }}</a>
				<hr>
				{% endif %}
				{% if is_granted('ROLE_USER') %}
				<!-- the comment box -->
				<div class="well">
					{{ form_start(form_new_comment, {'method': 'POST', 'action': path('rov_blog_article', { 'slug': article.slug }), 'attr':{'role': 'form', 'autocomplete': 'off'} }) }}
					<h4>{{ 'Leave a Comment'|trans }}:</h4>
					
						<div class="form-group">
							{{ form_widget(form_new_comment.content) }}
						</div>
						<button type="submit" class="btn btn-primary">{{ 'Send'|trans }}</button>
					{{ form_end(form_new_comment)}}
				</div>
				{% else %}
				<blockquote>
					<p>{{ 'Please, sign in to comment articles'|trans }}</p>
					<p class="text-muted">{{ 'Not an user yet?'|trans }} <a href="{{ path('rov_users_register') }}">{{ 'Sign up now'|trans }}</a></p>
				</blockquote>
				{% endif %}
				<hr>
				<!-- the comments -->
				<h3>
				{% if moderator %}
				{% transchoice comments|length  with { '%total%' : comments|length } %}
				{0} No comments | {1} One comment | ]1,Inf] %total% comments
				{% endtranschoice %}
				{% else %}
				{% transchoice comments|length  with { '%total%' : comments|length } %}
				{0} There are not comments yet | {1} One comment published | ]1,Inf] %total% comments published
				{% endtranschoice %}
				{% endif %}
				<i class="fa fa-comment-o"></i>
				</h3>
				<hr>
				{% for comment in comments %}
				{# comment.date|localizeddate('full', 'medium', locale, "Europe/Madrid") #}
				<h4 class="text-primary"><span class="label label-info"><i class="fa fa-comment"></i> {{ comment.number }}</span> {{ comment.user.name }} {{ comment.user.surname }} <small>{{ comment.date|date('d/m/Y H:i:s') }}</small></h4>
				<p>{{ comment.content }}</p>
				{% if moderator and not comment.accepted %}
				<div class="btn-group">
					<a href="{{ path('rov_blog_accept_comment', {'article_id': article.id , 'comment_id': comment.id }) }}" class="btn btn-success"><i class="fa fa-thumbs-up"></i>&nbsp;&nbsp;{{ 'Accept'|trans }}</a>
					<a href="{{ path('rov_blog_delete_comment', {'article_id': article.id , 'comment_id': comment.id }) }}" class="btn btn-danger">{{ 'Delete'|trans }}&nbsp;&nbsp;<i class="fa fa-thumbs-down"></i> </a>
				</div>
				{% endif %}
				<hr>
				{% endfor %}
				<p>&nbsp;</p>
				
			</div>

			<div class="col-lg-4">
				<div class="well">
					{{ form_start(form_search, {'method': 'POST', 'action': path('rov_blog_article_search') }) }}
						<h4>{{ 'Articles search'|trans }}</h4>
						<div class="input-group">
							{{ form_widget(form_search.search) }}
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
							</span>
						</div><!-- /input-group -->
					{{ form_end(form_search) }}
				</div><!-- /well -->
				<div class="well">
					<h4>{{ 'Categories'|trans }}</h4>
					<div class="row">
						{% set length = categories|length %}
						{% if length > 0 %}
						<div class="col-xs-6">
							<ul class="list-unstyled">
						{% for category in categories|slice(0, (length / 2)|round) %}
								<li><a href="{{ path('rov_blog_article_category', { 'slug': category.slug })}}">{{ category.name|trans }}</a></li>
						{% endfor %}
							</ul>
						</div>
						<div class="col-xs-6">
							<ul class="list-unstyled">
						{% for category in categories|slice((length / 2)|round, length) %}
								<li><a href="{{ path('rov_blog_article_category', { 'slug': category.slug })}}">{{ category.name|trans }}</a></li>
						{% endfor %}
							</ul>
						</div>
						{% else %}
						<div class="col-lg-12">
							<p>{{ 'There are no categories yet'|trans }}</p>
						</div>
						{% endif %}
					</div>
					{% if is_granted('ROLE_ADMIN') %}
					<!-- Button trigger modal -->
					<button class="btn btn-primary btn-block" data-toggle="modal" data-target="#newCategory" style="margin-bottom:5px">{{ 'Create a new category'|trans }}</button>
					{% endif %}
				</div><!-- /well -->
				<div class="well">
					<h4>{{ 'Tags'|trans }}</h4>
					<div class="row">
						{% set length = tags|length %}
						{% if length > 0 %}
						<div class="col-xs-6">
							<ul class="list-unstyled">
						{% for tag in tags|slice(0, (length / 2)|round) %}
								<li><a href="{{ path('rov_blog_article_tag', { 'slug': tag.slug })}}">{{ tag.name|trans }}</a></li>
						{% endfor %}
							</ul>
						</div>
						<div class="col-xs-6">
							<ul class="list-unstyled">
						{% for tag in tags|slice((length / 2)|round, length) %}
								<li><a href="{{ path('rov_blog_article_tag', { 'slug': tag.slug })}}">{{ tag.name|trans }}</a></li>
						{% endfor %}
							</ul>
						</div>
						{% else %}
						<div class="col-lg-12">
							<p>{{ 'There are no tags yet'|trans }}</p>
						</div>
						{% endif %}
					</div>
					{% if is_granted('ROLE_ADMIN') %}
					<!-- Button trigger modal -->
					<button class="btn btn-info btn-block" data-toggle="modal" data-target="#newTag" style="margin-top:5px">{{ 'Create a new tag'|trans }}</button>
					{% endif %}
				</div><!-- /well -->
				{% if is_granted('ROLE_ADMIN') %}
				<!-- New Category Modal -->
				<div class="modal fade" id="newCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							{{ form_start(new_category_form, {'method': 'POST', 'action': path('rov_blog_manage_articles') }) }}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">{{ 'Create a new category'|trans }}</h4>
							</div>
							<div class="modal-body">
									{{ form_row(new_category_form.name) }}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
								<button type="submit" class="btn btn-primary">{{ 'Save changes'|trans }}</button>
							</div>
							{{ form_end(new_category_form) }}
						</div>
					</div>
				</div>
				<!-- New Tag Modal -->
				<div class="modal fade" id="newTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							{{ form_start(new_tag_form, {'method': 'POST', 'action': path('rov_blog_manage_articles') }) }}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">{{ 'Create a new tag'|trans }}</h4>
							</div>
							<div class="modal-body">
								{{ form_row(new_tag_form.name) }}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
								<button type="submit" class="btn btn-primary">{{ 'Save changes'|trans }}</button>
							</div>
							{{ form_end(new_tag_form) }}
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>

	</div><!-- container -->
{% endblock %}
