{% extends '::frontend_bootstrap.html.twig' %}

{% block title %}{{ 'Articles'|trans }}{% endblock %}

{% block body %}
	{{ parent() }}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Blog <small>{{ 'Articles list'|trans }}</small></h1>
				<ol class="breadcrumb">
					<li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
					{% if category_url is defined %}
					<li><a href="{{ path('rov_blog_homepage') }}">{{ 'Articles list'|trans }}</a></li>
					<li>{{ 'Category'|trans }}</li>
					<li class="active">{{ category_url.name|trans }}</li>
					{% elseif tag_url is defined %}
					<li><a href="{{ path('rov_blog_homepage') }}">{{ 'Articles list'|trans }}</a></li>
					<li>{{ 'Tag'|trans }}</li>
					<li class="active">{{ tag_url.name|trans }}</li>
					{% elseif year_url is defined %}
					<li><a href="{{ path('rov_blog_homepage') }}">{{ 'Articles list'|trans }}</a></li>
					{% if month_url != 0 %}
					<li>{{ 'Year and month'|trans }}</li>
					<li>{{ year_url }}</li>					
					<li class="active">{{ (year_url ~ '-' ~ month_url ~ '-' ~ '01')|date('F')|trans }}</li>					
					{% else %}
					<li>{{ 'Year'|trans }}</li>
					<li class="active">{{ year_url }}</li>					
					{% endif %}
					{% else %}
					<li class="active">{{ 'Articles list'|trans }}</li>
					{% endif %}
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8">
				{# Flashbag session success messages #}
				{% for message in app.session.flashbag.get('error') %}
				<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>ERROR:</strong> {{ message|trans }}
				</div>
				{% endfor %}
				{% for message in app.session.flashbag.get('success') %}
				<div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{ message|trans }}
				</div>
				{% endfor %}

				{% if articles|length > 0 %}
				{% for article in articles %}
				<h1><a href="{{ path('rov_blog_article', { 'slug': article.slug })}}">{{ article.title }}</a></h1>
				<p class="lead">{{ 'by'|trans }} <a href="#">{{ article.author.name }} {{ article.author.surname }}</a></p>
				<hr>
				<div class="row">
					<div class="col-sm-9">
						{# Fecha y hora traducidas con php_intl no funcionana en Hostinger #}
						{# article.updated|localizeddate('full', 'medium', locale, "Europe/Madrid") #}
						<strong><i class="fa fa-clock-o"></i> {{ 'Last updated'|trans }}:</strong> {{ article.updated|date('d/m/Y H:i:s', 'Europe/Madrid') }}
					</div>
					<div class="col-sm-3">
						<span class="label label-primary"><i class="fa fa-comments"></i>
						{% set commentAccepted = 0 %}
						{% for comment in article.comments %}
							{% if comment.accepted %}
							{% set commentAccepted = commentAccepted + 1 %}
							{% endif %}
						{% endfor %} 
						{% transchoice commentAccepted  with { '%total%' : commentAccepted } %}
						{0} No comments | {1} One comment | ]1,Inf] %total% comments
						{% endtranschoice %}
						</span>
					</div>
				</div>
				<hr>
				<a href="{{ path('rov_blog_article', { 'slug': article.slug })}}"><div class="img_blog" style="background-image:url('{{ article.image }}');"></div></a>
				<hr>
				<h4>{{ article.subtitle }}</h4>
				<p class="text-justify">
					{{ article.content|striptags|replace({"&nbsp;": " ", "nbsp;": " "})|truncate(400, true) }}
				</p>
				<p><a class="btn btn-primary" href="{{ path('rov_blog_article', { 'slug': article.slug })}}">{{ 'Read more'|trans }} <i class="fa fa-angle-right"></i></a></p>
				{% if is_granted('ROLE_SUPER_ADMIN') or (is_granted('ROLE_ADMIN') and article.author == app.user) %}
				<a class="btn btn-default pull-right" href="{{ path('rov_blog_edit_article', { 'article_id': article.id })}}"><i class="fa fa-pencil-square-o"></i> {{ 'Edit article'|trans }}</a>
				{% endif %}
				<hr>
				{% endfor %}
				<ul class="pager">
					{% if page > 1 %}
					<li class="previous">
						{% if category_url is defined %}
						<a href="{{ path('rov_blog_article_category', { 'slug': category_url.slug, 'page': (page-1) }) }}"><i class="fa fa-arrow-circle-o-left"></i> {{ 'Previous'|trans }}</a>
						{% elseif tag_url is defined %}
						<a href="{{ path('rov_blog_article_tag', { 'slug': tag_url, 'page': (page-1) }) }}"><i class="fa fa-arrow-circle-o-left"></i> {{ 'Previous'|trans }}</a>
						{% elseif year_url is defined %}
						<a href="{{ path('rov_blog_article_date', { 'year': year_url, 'month': month_url, 'page': (page-1) }) }}"><i class="fa fa-arrow-circle-o-left"></i> {{ 'Previous'|trans }}</a>
						{% else %}
						<a href="{{ path('rov_blog_homepage', { 'page': (page-1) })}}"><i class="fa fa-arrow-circle-o-left"></i> {{ 'Previous'|trans }}</a>
						{% endif %}
					</li>
					{% endif %}
					{% if articlesLeft|length > 0 %}
					<li class="next">
						{% if category_url is defined %}
						<a href="{{ path('rov_blog_article_category', { 'slug': category_url.slug, 'page': (page+1) }) }}">{{ 'Next'|trans }} <i class="fa fa-arrow-circle-o-right"></i></a>
						{% elseif tag_url is defined %}
						<a href="{{ path('rov_blog_article_tag', { 'slug': tag_url, 'page': (page+1) }) }}">{{ 'Next'|trans }} <i class="fa fa-arrow-circle-o-right"></i></a>
						{% elseif year_url is defined %}
						<a href="{{ path('rov_blog_article_date', { 'year': year_url, 'month': month_url, 'page': (page+1) }) }}">{{ 'Next'|trans }} <i class="fa fa-arrow-circle-o-right"></i></a>
						{% else %}
						<a href="{{ path('rov_blog_homepage', { 'page': (page+1) })}}">{{ 'Next'|trans }} <i class="fa fa-arrow-circle-o-right"></i></a>
						{% endif %}
					</li>
					{% endif %}
				</ul>
				{% else %}
				<blockquote>
					<p>{{ 'There are not articles published yet'|trans }}</p>
				</blockquote>
				{% endif %}
			</div>

			<div class="col-lg-4">
				<div class="well">
					{{ form_start(form_search, {'method': 'POST', 'action': path('rov_blog_article_search') }) }}
						<h4>{{ 'Articles search'|trans }}</h4>
						<div class="input-group">
							{{ form_widget(form_search.search) }}
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
							</span>
						</div><!-- /input-group -->
					{{ form_end(form_search) }}
				</div><!-- /well -->
				<div class="well">
					<h4>{{ 'Categories'|trans }}</h4>
					<div class="row">
						{% set length = categories|length %}
						{% if length > 0 %}
						<div class="col-xs-6">
							<ul class="list-unstyled">
						{% for category in categories|slice(0, (length / 2)|round) %}
								<li><a href="{{ path('rov_blog_article_category', { 'slug': category.slug })}}">{{ category.name|trans }}</a></li>
						{% endfor %}
							</ul>
						</div>
						<div class="col-xs-6">
							<ul class="list-unstyled">
						{% for category in categories|slice((length / 2)|round, length) %}
								<li><a href="{{ path('rov_blog_article_category', { 'slug': category.slug })}}">{{ category.name|trans }}</a></li>
						{% endfor %}
							</ul>
						</div>
						{% else %}
						<div class="col-lg-12">
							<p>{{ 'There are no categories yet'|trans }}</p>
						</div>
						{% endif %}
					</div>
					{% if is_granted('ROLE_ADMIN') %}
					<!-- Button trigger modal -->
					<button class="btn btn-primary btn-block" data-toggle="modal" data-target="#newCategory" style="margin-bottom:5px">{{ 'Create a new category'|trans }}</button>
					{% endif %}
				</div><!-- /well -->
				<div class="well">
					<h4>{{ 'Tags'|trans }}</h4>
					<div class="row">
						{% set length = tags|length %}
						{% if length > 0 %}
						<div class="col-xs-6">
							<ul class="list-unstyled">
						{% for tag in tags|slice(0, (length / 2)|round) %}
								<li><a href="{{ path('rov_blog_article_tag', { 'slug': tag.slug })}}">{{ tag.name|trans }}</a></li>
						{% endfor %}
							</ul>
						</div>
						<div class="col-xs-6">
							<ul class="list-unstyled">
						{% for tag in tags|slice((length / 2)|round, length) %}
								<li><a href="{{ path('rov_blog_article_tag', { 'slug': tag.slug })}}">{{ tag.name|trans }}</a></li>
						{% endfor %}
							</ul>
						</div>
						{% else %}
						<div class="col-lg-12">
							<p>{{ 'There are no tags yet'|trans }}</p>
						</div>
						{% endif %}
					</div>
					{% if is_granted('ROLE_ADMIN') %}
					<!-- Button trigger modal -->
					<button class="btn btn-info btn-block" data-toggle="modal" data-target="#newTag" style="margin-top:5px">{{ 'Create a new tag'|trans }}</button>
					{% endif %}
				</div><!-- /well -->
				{% if is_granted('ROLE_ADMIN') %}
				<!-- New Category Modal -->
				<div class="modal fade" id="newCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							{{ form_start(new_category_form, {'method': 'POST', 'action': path('rov_blog_manage_articles') }) }}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">{{ 'Create a new category'|trans }}</h4>
							</div>
							<div class="modal-body">
									{{ form_row(new_category_form.name) }}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
								<button type="submit" class="btn btn-primary">{{ 'Save changes'|trans }}</button>
							</div>
							{{ form_end(new_category_form) }}
						</div>
					</div>
				</div>
				<!-- New Tag Modal -->
				<div class="modal fade" id="newTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							{{ form_start(new_tag_form, {'method': 'POST', 'action': path('rov_blog_manage_articles') }) }}
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">{{ 'Create a new tag'|trans }}</h4>
							</div>
							<div class="modal-body">
								{{ form_row(new_tag_form.name) }}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
								<button type="submit" class="btn btn-primary">{{ 'Save changes'|trans }}</button>
							</div>
							{{ form_end(new_tag_form) }}
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>

	</div><!-- container -->
{% endblock %}
