{% extends '::frontend_bootstrap.html.twig' %}

{% block title %}{{ 'New article'|trans }}{% endblock %}

{% block body %}
	{{ parent() }}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Blog <small>{{ 'New article'|trans }}</small></h1>
			<ol class="breadcrumb">
				<li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
				<li class="active">{{ 'New article'|trans }}</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>{{ 'Write a new article'|trans }}</h4>
				</div>
				<div class="panel-body">
					{# Flashbag session success messages #}
					{% for message in app.session.flashbag.get('error') %}
					<div class="alert alert-danger">{{ message|trans }}</div>
					{% endfor %}
					{% for message in app.session.flashbag.get('success') %}
					<div class="alert alert-success">{{ message|trans }}</div>
					{% endfor %}
					{{ form_start(new_article_form, {'method': 'POST', 'action': path('rov_blog_new_article') }) }}
						{# form_widget(new_article_form) #}
						<h3>{{ form_errors(new_article_form) }}</h3>
						<div class="row">
							<div class="col-md-8">
								<fieldset>
									<legend>{{ 'Article main content'|trans }}</legend>
									{{ form_row(new_article_form.title) }}
									{{ form_row(new_article_form.subtitle) }}
									<br><div class="alert alert-info">{{ 'If you wish to attach an image in the heading, type its URL in the next field'|trans }}</div>
									{{ form_row(new_article_form.image) }}
									{{ form_row(new_article_form.content) }}
									{{ form_row(new_article_form.published) }}
								</fieldset>
							</div>
							<br class="visible-xs visible-sm">
							<div class="col-md-4">
								<fieldset>
									<legend>{{ 'Category and tags'|trans }}</legend>
									<div class="alert alert-info">{{ 'If you need new tags or a new category for this article, create them first'|trans }}</div>
									{{ form_row(new_article_form.category) }}
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#newCategory" style="margin-bottom:5px">{{ 'Create a new category'|trans }}</button>
									{{ form_row(new_article_form.tags) }}
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#newTag" style="margin-top:5px">{{ 'Create a new tag'|trans }}</button>
								</fieldset>
							</div>
						</div>
						<hr>
						<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;{{ 'Save changes'|trans }}</button>
						<button type="button" class="btn">{{ 'Cancel'|trans }}</button>
					{{ form_end(new_article_form) }}
					<!-- New Category Modal -->
					<div class="modal fade" id="newCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								{{ form_start(new_category_form, {'method': 'POST', 'action': path('rov_blog_new_article') }) }}
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">{{ 'Create a new category'|trans }}</h4>
								</div>
								<div class="modal-body">
										{{ form_row(new_category_form.name) }}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
									<button type="submit" class="btn btn-primary">{{ 'Save changes'|trans }}</button>
								</div>
								{{ form_end(new_category_form) }}
							</div>
						</div>
					</div>
					<!-- New Tag Modal -->
					<div class="modal fade" id="newTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								{{ form_start(new_tag_form, {'method': 'POST', 'action': path('rov_blog_new_article') }) }}
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">{{ 'Create a new tag'|trans }}</h4>
								</div>
								<div class="modal-body">
									{{ form_row(new_tag_form.name) }}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
									<button type="submit" class="btn btn-primary">{{ 'Save changes'|trans }}</button>
								</div>
								{{ form_end(new_tag_form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
	{# Select2 and wysihtml5 creation #}
	{{ parent() }}
    {% if locale == 'es' %}
    <script type="text/javascript" src="{{ asset('bundles/rovstart/js/locales/bootstrap-wysihtml5.es-ES.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/rovstart/js/select2/select2_locale_es.js') }}"></script>
    {% endif %}
	<script>
		$('#rov_blogbundle_articletype_content').wysihtml5({
			"font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
			"emphasis": true, //Italics, bold, etc. Default true
			"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
			"html": true, //Button which allows you to edit the generated HTML. Default false
			"link": true, //Button to insert a link. Default true
			"image": true, //Button to insert an image. Default true,
			"color": false, //Button to change color of font
			"size": 'sm', //Button size like sm, xs etc.
			{% if locale == 'es' %}"locale": "es-ES"{% endif %}
		});
		$('#rov_blogbundle_articletype_category').select2({
			placeholder: "{{ 'Choose a category'|trans }}"
		});
		$('#rov_blogbundle_articletype_tags').select2({
			placeholder: "{{ 'Choose tags'|trans }}"
		});
	</script>
{% endblock %}