{% extends '::frontend_bootstrap.html.twig' %}

{% block title %}Portada{% endblock %}

{% block body %}
{{ parent() }}
{% include '::carousel.html.twig' %}
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<h3><i class="fa fa-check-circle"></i> {{ 'News'|trans }}</h3>
				<p>{{ 'Find out the most important innovations in the world of wine, organic agriculture and science with'|trans }} {{ appname }}. <a href="{{ path('rov_blog_homepage')}}">{{ 'Read the last articles'|trans }}</a> {{'or search by topic, category or tag'|trans }}.</p>
			</div>
			<div class="col-lg-4 col-md-4">
				<h3><i class="fa fa-pencil"></i> {{ 'Sign up and comment'|trans }}</h3>
				<p>{{ 'Feel free to contribute with your comments in the articles'|trans }}. <a href="{{ path('rov_users_register') }}">{{ 'Sign up now'|trans }}</a> {{ 'and tell us everything you want'|trans }}. {{ 'What are you waiting for?'|trans }}</p>
			</div>
			<div class="col-lg-4 col-md-4">
				<h3><i class="fa fa-envelope"></i> {{ 'Contact me'|trans }}</h3>
				<p>{{ 'Do you need expert advice? You may need help to publicize your news or marketing your new products.'|trans }} <a href="{{ path('rov_start_contact') }}">{{ 'Would you like to contact me?'|trans }}</a></p>
			</div>
		</div><!-- /.row -->

	</div><!-- /.container -->

</div><!-- /.section -->

<div class="section-colored text-center">

	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<h2>{{ appname }}: {{ 'About wine and other things'|trans }}</h2>
				<p>{{ 'A website dedicated to the culture of wine, organic farming, news and more'|trans }}</p>
				{% if not is_granted('ROLE_USER') %}<a class="btn btn-lg btn-info hidden-xs" href="{{ path('rov_users_register') }}">{{ 'Not an user yet?'|trans }} {{ 'Sign up now'|trans }}</a>
				{% else %}<a class="btn btn-lg btn-info hidden-xs" href="{{ path('rov_users_profile') }}">{{ 'Hello'|trans }} {{ app.user.name|e }}, {{ 'do you want to see your profile page?'|trans }}</a>
				{% endif %}
				{% if not is_granted('ROLE_USER') %}<a class="btn btn-info visible-xs" href="{{ path('rov_users_register') }}">{{ 'Not an user yet?'|trans }} {{ 'Sign up now'|trans }}</a>
				{% else %}<a class="btn btn-info visible-xs" href="{{ path('rov_users_profile') }}">{{ 'Hello'|trans }} {{ app.user.name|e }}, {{ 'do you want to see your profile page?'|trans }}</a>
				{% endif %}
			</div>
		</div><!-- /.row -->

	</div><!-- /.container -->

</div><!-- /.section-colored -->

<div class="section">

	<div class="container">

		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>{{ 'Last articles published'|trans }}</h2>
			</div>
			{% set numArticles = articles|length %}
			{% for article in articles %}
			<div class="{% if numArticles == 3 %}col-lg-4 col-md-4 col-sm-12{% else %}col-lg-12{% endif %}" style="height: 300px; background-image:url('{{ article.image }}'); background-position: 50% 50%; background-size: cover;">
				<h4 style="background:rgba(255,255,255,0.8); margin:0px -15px -15px -15px; padding: 15px 15px 15px 15px; min-height: 5em; border-top: 1px solid rgb(51, 51, 51);"><a href="{{ path('rov_blog_article', { 'slug' : article.slug }) }}">{{ article.title }}</a></h4>
				<p style="color: white; background:rgba(221,72,20,0.6); margin: 15px -15px; padding: 15px 15px 15px 15px;"><strong><i class="fa fa-clock-o"></i> {{ 'Last updated'|trans }}:</strong> {{ article.updated|date('d/m/Y H:i:s') }}</p>
			</div>
			{% endfor %}
		</div><!-- /.row -->
		<div class="row well" style="margin-top: -1em">
			{{ form_start(form_search, {'method': 'POST', 'action': path('rov_blog_article_search') }) }}
				<h4>{{ 'Articles search'|trans }}</h4>
				<div class="input-group">
					{{ form_widget(form_search.search) }}
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
					</span>
				</div><!-- /input-group -->
			{{ form_end(form_search) }}
		</div><!-- /well -->
		{#<div class="row well">
			<div class="col-lg-8 col-md-8">
				<h3>{{ appname }}</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, voluptas repellat nemo dolorum sapiente dignissimos beatae dolore optio cupiditate laborum quasi deserunt sint incidunt assumenda officia culpa quisquam magni doloremque.</p>
			</div>
			<div class="col-lg-4 col-md-4">
				<p>&nbsp;</p>
				<a class="btn btn-lg btn-primary pull-right" href="{{ path('rov_users_register') }}">{{ 'Sign up now'|trans }}</a>
			</div>
		</div><!-- /.row -->#}

	</div><!-- /.container -->

</div><!-- /.section -->
{% endblock %}
