{% extends '::frontend_bootstrap.html.twig' %}

{% block title %}Portada{% endblock %}

{% block body %}
{{ parent() }}
{% include '::carousel.html.twig' %}
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<h3><i class="fa fa-check-circle"></i> Bootstrap 3 Built</h3>
				<p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
			</div>
			<div class="col-lg-4 col-md-4">
				<h3><i class="fa fa-pencil"></i> Ready to Style &amp; Edit</h3>
				<p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
			</div>
			<div class="col-lg-4 col-md-4">
				<h3><i class="fa fa-folder-open"></i> Many Page Options</h3>
				<p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
			</div>
		</div><!-- /.row -->

	</div><!-- /.container -->

</div><!-- /.section -->

<div class="section-colored text-center">

	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<h2>Modern Business: A Clean &amp; Simple Full Website Template by Start Bootstrap</h2>
				<p>A complete website design featuring various single page templates from Start Bootstraps library of free HTML starter templates.</p>
			</div>
		</div><!-- /.row -->

	</div><!-- /.container -->

</div><!-- /.section-colored -->

<div class="section">

	<div class="container">

		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>{{ 'Last articles'|trans }}</h2>
				<hr>
			</div>
			{% for article in articles %}
			<div class="col-lg-4 col-md-4 col-sm-6" style="height: 300px; background-image:url('{{ article.image }}');">
				<h4 style="background:rgba(255,255,255,0.8); margin:-15px; padding: 30px 15px 15px 15px; min-height: 5em;"><a href="{{ path('rov_blog_article', { 'slug' : article.slug }) }}">{{ article.title }}</a></h4>
				<p style="color: white; background:rgba(221,72,20,0.8); margin: 15px -15px; padding: 15px 15px 15px 15px;"><strong><i class="fa fa-clock-o"></i> {{ 'Last updated'|trans }}:</strong> {{ article.updated|date('d/m/Y H:i:s') }}</p>
			</div>
			{% endfor %}
		</div><!-- /.row -->

	</div><!-- /.container -->

</div><!-- /.section -->

<div class="container">

	<div class="row well">
		<div class="col-lg-8 col-md-8">
			<h3>{{ appname }}</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, voluptas repellat nemo dolorum sapiente dignissimos beatae dolore optio cupiditate laborum quasi deserunt sint incidunt assumenda officia culpa quisquam magni doloremque.</p>
		</div>
		<div class="col-lg-4 col-md-4">
			<p>&nbsp;</p>
			<a class="btn btn-lg btn-primary pull-right" href="{{ path('rov_users_register') }}">{{ 'Sign up now'|trans }}</a>
		</div>
	</div><!-- /.row -->

</div><!-- /.container -->
{% endblock %}
