{% extends '::frontend_bootstrap.html.twig' %}

{% block title %}{{ 'Get a new password'|trans }}{% endblock %}

{% block body %}
	{{ parent() }}
	
	<div class="container">
    	<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Blog <small>{{ 'Get a new password'|trans }}</small></h1>
				<ol class="breadcrumb">
					<li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
					<li class="active">{{ 'Get a new password'|trans }}</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">{{ 'Type your email to get a new password'|trans }}</div>
					<div class="panel-body">
						{{ form_start(new_password_form, {'method': 'POST', 'action': path('rov_users_new_password') }) }}
							<div class="alert alert-info">
								<strong>{{ 'Warning'|trans }}:</strong> {{ 'A new password will be generated and sent to the email address typed if it is in use in our users database'|trans }}
							</div>
							{# Flashbag session success messages #}
							{% for message in app.session.flashbag.get('error') %}
							<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ message|trans }}</div>
							{% endfor %}
							{% for message in app.session.flashbag.get('success') %}
							<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ message|trans }}</div>
							{% endfor %}
							<div class="form-group">
								{{ form_widget(new_password_form.email) }}
							</div>
							<button type="submit" class="btn btn-warning"><i class="fa fa-exclamation-triangle"></i> {{ 'Get a new password'|trans }}</button>
						{{ form_end(new_password_form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
{% endblock %}