{% extends '::frontend_bootstrap.html.twig' %}

{% block title %}{{ 'Profile'|trans }}{% endblock %}

{% block body %}
	{{ parent() }}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Blog <small>{{ 'Profile'|trans }}</small></h1>
			<ol class="breadcrumb">
				<li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
				<li class="active">{{ 'Profile'|trans }}</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-heading"><h4>{{ 'User profile'|trans }}</h4></div>
				<div class="panel-body">
					{# Flashbag session success messages #}
					{% for message in app.session.flashbag.get('error') %}
					<div class="alert alert-danger">{{ message|trans }}</div>
					{% endfor %}
					{% for message in app.session.flashbag.get('success') %}
					<div class="alert alert-success">{{ message|trans }}</div>
					{% endfor %}
					{{ form_start(settings_form, {'method': 'POST', 'action': path('rov_users_profile'), 'attr':{'autocomplete': 'off'} }) }}
						{# form_widget(settings_form) #}
						<h3>{{ form_errors(settings_form) }}</h3>
						<div class="row">
							<div class="col-md-4">
								<fieldset>
									<legend>{{ 'Access info'|trans }}</legend>
									<div class="form-group">{{ form_row(settings_form.email) }}</div>
									<div class="form-group">{{ form_row(settings_form.password) }}</div>
									<br><div class="alert alert-info">{{ 'If you wish to change your password, write it twice. In other case left the fields empty.'|trans }}</div>
									<div class="form-group">{{ form_row(settings_form.allowsEmail) }}</div>
								</fieldset>
							</div>
							<br class="visible-xs visible-sm">
							<div class="col-md-4">
								<fieldset>
									<legend>{{ 'Personal info'|trans }}</legend>
									<div class="form-group">{{ form_row(settings_form.name) }}</div>
									<div class="form-group">{{ form_row(settings_form.surname) }}</div>
									<div class="form-group">{{ form_row(settings_form.address) }}</div>
									<div class="form-group">{{ form_row(settings_form.city) }}</div>
									<div class="form-group">{{ form_row(settings_form.country) }}</div>
									<div class="form-group">{{ form_row(settings_form.locale) }}</div>
									<div class="form-group">{{ form_row(settings_form.company) }}</div>
									<div class="form-group">{{ form_row(settings_form.job) }}</div>
								</fieldset>
							</div>
							<br class="visible-xs visible-sm">
							<div class="col-md-4">
								<legend>{{ 'Help'|trans }}</legend>
								<div class="alert alert-warning">
									<h4>{{ 'Required fields'|trans }}</h4>
									<p>{{ 'All the access fields, the name and surname are required'|trans}}.</p>
								</div>
								<div class="alert alert-success">
									<h4>{{ 'Password requirements'|trans }}</h4>
									<p>{{ 'The password must have 8 characters or more'|trans}}. <br>{{ 'The password fields must match'|trans }}.</p>
								</div>
								<div class="alert alert-info">
									<h4>{{ 'Allows email'|trans }}</h4>
									<p>{{ 'The field "Allows email" indicates that you wish to receive notifications, emails and any kind of information from this website'|trans}}.</p>
								</div>
							</div>
						</div>
						<hr>
						<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;{{ 'Save changes'|trans }}</button>
						<button type="button" class="btn">{{ 'Cancel'|trans }}</button>
						<button type="button" data-toggle="modal" class="btn btn-danger pull-right" data-target="#sure"><i class="icon-trash icon-white"></i><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;{{ 'Delete account'|trans }}</button>
					{{ form_end(settings_form) }}
					<div id="sure" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								{{ form_start(delete_user_form, {'method': 'POST', 'action': path('rov_users_delete') }) }}
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h3 id="myModalLabel">{{'Are you sure?'|trans }}</h3>
									</div>
									<div class="modal-body">
										<div class="alert alert-danger">
											<div class="controls controls-row">
												{{ form_row(delete_user_form.username_confirm) }}
											</div>
										</div>
										<blockquote>
											<p class="text-danger">{{ 'This action will delete your account and your posts. This process cannot be reversed.'|trans }}</p>
										</blockquote>
									</div>
									<div class="modal-footer">
										{# Required against CSRF #}
										{{ form_rest(delete_user_form) }}
										<button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'Close'|trans }}</button>
										<button type="submit" class="btn btn-danger">{{ 'Yes, I understand'|trans }}</a>
									</div>
								{{ form_end(delete_user_form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block js %}
	{# Select2 creation #}
	{{ parent() }}
    {% if locale == 'es' %}<script type="text/javascript" src="{{ asset('bundles/rovstart/js/select2/select2_locale_es.js') }}"></script>{% endif %}
	<script>
		$('#rov_usersbundle_usertype_country').select2({
			placeholder: "{{ 'Select a country'|trans }}"
		});
		$('#rov_usersbundle_usertype_locale').select2();
	</script>
{% endblock %}