{% extends '::frontend_bootstrap.html.twig' %}

{% block title %}{{ 'Update winery'|trans }}{% endblock %}

{% block body %}
	{{ parent() }}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Blog <small>{{ 'Update winery'|trans }}</small></h1>
				<ol class="breadcrumb">
					<li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
					<li><a href="{{ path('rov_blog_manage_wines') }}">{{ 'Manage wine tasting reviews'|trans }}</a></li>
					<li class="active">{{ 'Update winery'|trans }}</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-primary">
					{# Flashbag session success messages #}
					{% for message in app.session.flashbag.get('error') %}
					<div class="alert alert-danger">{{ message|trans }}</div>
					{% endfor %}
					{% for message in app.session.flashbag.get('success') %}
					<div class="alert alert-success">{{ message|trans }}</div>
					{% endfor %}
					<div class="panel-heading"><h4>{{ 'Update winery'|trans }}</h4></div>
					{{ form_start(edit_winery_form, {'method': 'POST', 'action': path('rov_blog_manage_winery', { 'slug': winery.slug }), 'attr':{'role': 'form'} }) }}
					<div class="panel-body">
							{# form_widget(edit_winery_form) #}
							<h3>{{ form_errors(edit_winery_form) }}</h3>
							<div class="row">
								<div class="col-lg-12">
									<fieldset>
										<legend>{{ 'Update the winery data'|trans }}</legend>
										<div class="form-group">{{ form_row(edit_winery_form.name) }}</div>
										<div class="form-group">{{ form_row(edit_winery_form.region) }}</div>
										<div class="form-group">{{ form_row(edit_winery_form.address) }}</div>
										<div class="form-group">{{ form_row(edit_winery_form.location) }}</div>
										<div class="form-group">{{ form_row(edit_winery_form.postal) }}</div>
										<div class="form-group">{{ form_row(edit_winery_form.phone) }}</div>
										<div class="form-group">{{ form_row(edit_winery_form.email) }}</div>
										<div class="form-group">{{ form_row(edit_winery_form.web) }}</div>
									</fieldset>
								</div>
							</div>
							<hr>
							<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;{{ 'Save changes'|trans }}</button>
							<a class="btn btn-default" href="{{ path('rov_blog_manage_wines') }}">{{ 'Cancel'|trans }}</a>
					</div>
					{{ form_end(edit_winery_form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block js %}
	{{ parent() }}
	{% if locale == 'es' %}<script type="text/javascript" src="{{ asset('bundles/rovstart/js/select2/select2_locale_es.js') }}"></script>{% endif %}
	<script>
		$('#rov_blogbundle_winerytype_region').select2();
	</script>
{% endblock %}