<!-- New Region Modal -->
<div class="modal fade" id="newRegion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{{ form_start(new_region_form, {'method': 'POST', 'action': path('rov_blog_manage_wines') }) }}
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">{{ 'Add a new region'|trans }}</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">{{ form_row(new_region_form.country) }}</div>
				<div class="form-group">{{ form_row(new_region_form.name) }}</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
				<button type="submit" class="btn btn-primary">{{ 'Save changes'|trans }}</button>
			</div>
			{{ form_end(new_region_form) }}
		</div>
	</div>
</div>