{# Right panel full #}
<div class="col-lg-4">
	<div class="well">
		{{ form_start(form_search, {'method': 'POST', 'action': path('rov_blog_wine_search') }) }}
		<h4>{{ 'Wines search'|trans }}</h4>
		<div class="input-group">
			{{ form_widget(form_search.search) }}
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
			</span>
		</div><!-- /input-group -->
		{{ form_end(form_search) }}
	</div><!-- /well -->
	{% include('ROVBlogBundle:Wines:wellRegions.html.twig') %}
	{% include('ROVBlogBundle:Wines:wellWineries.html.twig') %}
	{% if is_granted('ROLE_ADMIN') %}
	{% include('ROVBlogBundle:Wines:modalRegionForm.html.twig') %}
	{% include('ROVBlogBundle:Wines:modalWineryForm.html.twig') %}
	{% endif %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title">{{ 'Wine tasting reviews in the last months'|trans }}</h4>
		</div>
		<div class="panel-body">
			<div class="col-xs-12">
				<p>{{ 'Click in any month to see the wine tasting reviews published in that date'|trans }}</p>
				<div class="list-group">
					{% for groupMonth in wineReviewsMonth %}
					<a href="{{ path('rov_blog_wine_date', { 'year': groupMonth.year, 'month': groupMonth.month }) }}" class="list-group-item">
						<span class="badge">{{ groupMonth.total }}</span>
						{{ (groupMonth.year ~ '-' ~ groupMonth.month ~ '-' ~ '01')|date('F')|trans }} {{ groupMonth.year }} 
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="panel-footer">{{ 'For older wine tasting reviews you can use the search engine'|trans }}</div>
	</div>
</div>
