{% extends '::frontend_bootstrap.html.twig' %}

{% block title %}{{ wine.brand }}{% endblock %}

{% block body %}
	{{ parent() }}

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Blog <small>{{ 'Wine tasting reviews list'|trans }}</small></h1>
				<ol class="breadcrumb">
					<li><a href="{{ path('home') }}">{{ 'Home'|trans }}</a></li>
					<li><a href="{{ path('rov_blog_wine_homepage') }}">{{ 'Wine tasting reviews list'|trans }}</a></li>
					<li>{{ 'Wine'|trans }}</li>
					<li class="active">{{ wine.brand }}</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-md-2 col-xs-4">
						<div class="well" style="width: 106px">
							<p style="font-size: 4em; color: {% if wine.points >= 90 %}#32bf28{% elseif wine.points >= 70 %}#92b72f{% elseif wine.points >= 50 %}#d9991d{% else %}#d9371d{% endif %}">{{ wine.points }}</p>
						</div>
					</div>
					<div class="col-md-7 col-xs-8">
						<h2>
							<a href="{{ path('rov_blog_wine_review', { 'slug': wine.slug })}}">{{ wine.brand }}</a>
						</h2>
						<p class="lead">
							{{ 'from'|trans }} <a href="{{ path('rov_blog_wine_winery', { 'slug': wine.winery.slug })}}">{{ wine.winery.name }}</a><br>
							<span class="label label-info"><a style="color: white" href="{{ path('rov_blog_wine_region', { 'slug': wine.winery.region.slug })}}">{{ wine.winery.region.name }}</a></span>
							<span class="label label-default">{{ wineTypesLabels[wine.type]|trans|capitalize }}</span>
							<span class="label label-success">{{ wine.varieties }}</span>
							<span class="label label-warning">{{ wine.year }}</span>
							<span class="label label-primary">{{ wine.alcohol }}&deg;</span>
						</p>
						<p><strong><i class="fa fa-clock-o"></i> {{ 'Last updated'|trans }}:</strong> {{ wine.updated|date('d/m/Y H:i:s', 'Europe/Madrid') }}</p>
					</div>
					<div class="col-md-3 col-xs-12">
						{# Share button #}
						<div class="hidden-sm hidden-xs" style="height:1.5em"></div>
						<div id="share-button" class='share-button share-button-top'></div>
						<div class="visible-sm visible-xs" style="height:2em"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="img_wine" style="background-image:url('{{ vich_uploader_asset(wine, 'wine_image') }}');"></div>
					</div>
					<div class="col-md-12">
						<h3>{{ 'Map location'|trans }}</h3>
						<div class="map_canvas" id="map_canvas"></div>
						<div class="row">
							<div class="col-md-6">
								<div class="text-justify article">
									<h3>{{ wine.winery.name }}</h3>
									<ul>
										<li>{{ wine.winery.address}}</li>
										<li>{{ wine.winery.postal }} {{ wine.winery.location }}</li>
										{% if wine.winery.phone %}<li><i class="fa fa-phone-square"></i> <a href="tel:{{ wine.winery.phone }}" target="_blank">{{ wine.winery.phone }}</a></li>{% endif %}
										{% if wine.winery.email %}<li><i class="fa fa-envelope"></i> <a href="mailto:{{ wine.winery.email }}" target="_blank">{{ wine.winery.email }}</a></li>{% endif %}
										{% if wine.winery.web %}<li><i class="fa fa-cloud"></i> <a href="{{ wine.winery.web }}" target="_blank">{{ wine.winery.web }}</a></li>{% endif %}
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<div class="text-justify article">
									<h3>{{ 'Wine-making'|trans }}</h3>
									<p>
										{{ wine.wineMaking }}
									</p>
								</div>
							</div>
							<div class="col-md-12">
								<h3>{{ 'Description'|trans }}</h3>
								<p>
									{{ wine.description|raw }}
								</p>
							</div>
						</div>
					</div>
				</div>
				{% if moderator %}
				<div class="row">
					<div class="col-md-12">
						<br>
						<a href="{{ path('rov_blog_edit_wine', { 'wine_id': wine.id }) }}" class="btn btn-default btn-block"><i class="fa fa-pencil-square-o"></i> {{ 'Edit wine tasting review'|trans }}</a>
						<br>
					</div>
				</div>
				{% endif %}
			</div>
			{% include 'ROVBlogBundle:Wines:rightPanelWineReviews.html.twig' %}
		</div>
	</div>
{% endblock %}
{% block js %}
	{# Share button creation #}
	{{ parent() }}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places" type="text/javascript"></script>
	<script>
	var share = new Share('.share-button', {
		url:			"{{ app.request.uri }}",
		title:			"{{ wine.brand }}",
		description:	"{{ 'New wine tasting review'|trans }}: {{ wine.brand }} - {{ wine.winery.name }} - {{ wine.year }}",
		image:			"{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(wine, 'wine_image') }}",
		ui: {
			flyout: "top center",
			button_font: "Ubuntu",
			button_text: "{{ 'Share'|trans }}"
		},
		networks: {
			twitter: {
				description: "{{ 'New wine tasting review'|trans }}: {{ wine.brand }} - {{ wine.winery.name }} - {{ wine.year }} @racheverdejo"
			},
			facebook: {
				app_id: "231832550347543",
			},
			pinterest: {
				enabled: false
			},
			email: {
				enabled: true,
				title: "{{ 'New wine tasting review'|trans }}: {{ wine.brand }} - {{ wine.winery.name }} - {{ wine.year }}",
				description: "{{ wine.description }} - {{ app.request.uri }}"
			}
		}
	});

	var map = null;
    var geocoder = null;

    function initialize() {
        map = new google.maps.Map(document.getElementById("map_canvas"), {
            center: new google.maps.LatLng(37.4419, -122.1419),
            zoom: 15,
        	mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        geocoder = new google.maps.Geocoder();
    }

    function showAddress(address) {
        if (geocoder) {
        	geocoder.geocode( { 'address': address}, function(results, status) {
	            if (status == google.maps.GeocoderStatus.OK) {
	            	map.setCenter(results[0].geometry.location);
	              	var marker = new google.maps.Marker({
	                  	map: map,
	                  	position: results[0].geometry.location
	              	});
	            } else {
	              	alert('Geocode was not successful for the following reason: ' + status);
	            }
        	});
        }
    }

	$(function () {
	    initialize();
	    showAddress('{{ wine.winery.address }}, {{ wine.winery.postal }}, {{ wine.winery.location }}, {{ wine.winery.region.country }}');
	});

	</script>
{% endblock %}
